<!DOCTYPE html>
<html>

  <head>
    <title>FCC Image Search Abstraction Layer Microservice</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>freeCodeCamp Backend API Projects - Image Search Abstraction Layer Microservice</h1>
      <h3>Simple API to search images and return info about those images</h3>
        
      <h3>Example image search with pagination:<br>
        <code class="example">https://ms1-isal-micro.glitch.me/api/imagesearch/lolcats%20funny?offset=2</code><br>
        <br>
        Example output:<br>
        <code class="example">[{"url":"https://i.ytimg.com/vi/tRzXptpC3_U/hqdefault.jpg","snippet":"funny lolcats and loldogs - YouTube","thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_dKvb6pMA0bod00g0v1Bk3YakSY7H4HYwpu268AqUK8pPiSdlUh9pEnYh","context":"https://www.youtube.com/watch?v=tRzXptpC3_U"},{"url":"https://i.ytimg.com/vi/mF7Gg014sYU/maxresdefault.jpg","snippet":"Lolcats (kid friendly, but still funny) - YouTube","thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9TzjwPn7_PSKPBgbnGBJSk83qSFNJpRK-6XTwyrGZaaCSYXSEL0ALKMx4","context":"https://www.youtube.com/watch?v=mF7Gg014sYU"}]</code><br>
        <br>
        <br>
        Example usage of most recently submitted searches:<br>
        <code class="example">https://ms1-isal-micro.glitch.me/api/latest/imagesearch/</code><br>
        <br>
        Example results:<br>
        <code class="example">[{"term":"lolcats funny","when":"2018-05-21T05:42:49.830Z"},{"term":"lolcats funny","when":"2018-05-21T05:41:58.539Z"},{"term":"lolcats funny","when":"2018-05-21T05:41:51.853Z"},{"term":"lolcats funny","when":"2018-05-21T05:41:25.418Z"},{"term":"lolcats funny","when":"2018-05-21T05:40:43.779Z"},{"term":"lolcats funny","when":"2018-05-21T05:40:00.827Z"},{"term":"lolcats funny","when":"2018-05-21T05:39:57.370Z"},{"term":"lolcats funny","when":"2018-05-21T05:39:53.634Z"},{"term":"lolcats funny","when":"2018-05-21T05:39:42.678Z"},{"term":"lolcats funny","when":"2018-05-21T05:36:57.130Z"}]</code>
      </h3>
    </div>
  </body>

</html>
